.Project {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    border: 2px solid black;
    margin: 5px 30px;
}

.Project a {
    flex: 0 0 60%;
}

.Project span {
    flex: 0 0 20%;
}
